[{:itonami.blueprint/social-impact [:local-jobs :small-business-support :accountability], :itonami.blueprint/domain :services/business-services-agency, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "3339", :itonami.blueprint/name "Independent Business Services Agency Practice", :itonami.blueprint/governor :business-services-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3339", :itonami.blueprint/license "AGPL-3.0-or-later"}]